/tools/
/input_model_files/
/output_data/extremely_compact/raw/log.txt
/output_data/extremely_compact/raw/results/residue_residue_cadscore_global.tsv
/output_data/extremely_compact/renumbered/log.txt
/output_data/extremely_compact/renumbered/results/residue_residue_cadscore_global.tsv
/output_data/extremely_compact/renumbered_remapped_clustered/log.txt
/output_data/extremely_compact/renumbered_remapped_clustered/results/residue_residue_cadscore_global.tsv
/output_data/list_of_input_model_paths
